.shape_1 {
    position: fixed;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 500px;
    height: 500px;
}

.shape_2 {
    position: fixed;
    border-radius: 100%;
    left: 200px;
    top: 350px;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 800px;
    height: 800px;
}

.shape_3 {
    position: fixed;
    border-radius: 100%;
    left: 800px;
    top: 100px;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 700px;
    height: 700px;
}

.shape_4 {
    position: fixed;
    border-radius: 100%;
    left: 80px;
    top: 280px;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 450px;
    height: 450px;
}

.shape_5 {
    position: fixed;
    border-radius: 100%;
    left: 600px;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 600px;
    height: 600px;
}

.shape_6 {
    position: fixed;
    border-radius: 100%;
    top: -350px;
    left: 450px;
    background: transparent;
    border: 2px solid #ff9d00;
    width: 500px;
    height: 500px;
}


.shapee_1 {
    position: fixed;
    width: 2px;
    background-color: #00a2ff;
    height: 1000px;
    top: 0px;
    left: 700px;
}

.shapee_2 {
    position: fixed;
    height: 2px;
    background-color: #00a2ff;
    width: 1500px;
    top: 650px;
    left: 0px;
}

.shapee_3 {
    position: fixed;
    height: 2px;
    background-color: #00a2ff;
    width: 1500px;
    top: 280px;
    left: 0px;
    transform: rotate(-45deg);
}

.shapee_4 {
    position: fixed;
    height: 2px;
    background-color: #00a2ff;
    width: 1500px;
    top: 210px;
    left: 0px;
    transform: rotate(10deg);
}

.shapee_5 {
    position: fixed;
    width: 2px;
    background-color: #00a2ff;
    height: 1000px;
    top: 0px;
    left: 1200px;
    transform: rotate(10deg);
}

.shapee_6 {
    position: fixed;
    width: 2px;
    background-color: #00a2ff;
    height: 1000px;
    top: 0px;
    left: 120px;
}

