.results {
    position: relative;
    width: 660px;
    text-align: center;
}

.name {
    color: white;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
    color: transparent;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: white;
    letter-spacing: 2px;
}

.team {
    color: white;
    font-size: 20px;
    margin-top: 160px;
    font-family: 'Staatliches', cursive;
}

.conference {
    color: white;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}

